/* Navbar */
.navbar {
  --navbar-height: 64px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--navbar-height);
  background-color: rgba(112, 209, 110, 0.8); /* Navbar translúcida */
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 10;
  backdrop-filter: blur(10px); /* Desfoque */
}

.navbarContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.homeLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff; /* Branco */
}

.navbarLogo {
  border-radius: 50%;
  width: 90px;
  height: 90px;
  margin-right: 0.5rem;
  margin-top: 3.0rem;
}

/* Navbar Controls */
.navRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto; /* Alinha tudo à direita */
}

.navButtons {
  display: flex;
  gap: 1rem;
}

.loginButton {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #fff; /* Borda branca */
  background: transparent; /* Fundo transparente */
  color: #fff; /* Texto branco */
  transition: all 0.3s; /* Transição suave */
  font-size: 0.9rem;
}

.loginButton:hover {
  background: #47bd78; /* Fundo verde claro ao passar o mouse */
  color: #008000; /* Texto verde escuro */
  border-color: #47bd78; /* Borda verde claro */
}

.signupButton {
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid #47bd78;
  background-color: #47bd78;
  color: #008000;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.signupButton:hover {
  background: transparent; /* Verde claro ao passar o mouse */
  color: #fff; /* Verde escuro para o texto */
  border-color: #fff;
}

/* Navbar Hamburger */
.navbarToggle {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  background: none;
  border: none;
}

.iconBar {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: background 0.3s;
}

.navbarToggle:hover .iconBar {
  background: #008000; /* Verde claro */
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  right: -300px; /* Oculta a sidebar inicialmente */
  height: 100vh;
  width: 300px;
  background-color: rgba(112, 209, 110, 0.9); /* Verde translúcido */
  box-shadow: -4px 0 6px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 20;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Espaço entre os links e os botões */
  backdrop-filter: blur(10px); /* Desfoque */
  padding: 1rem;
}

.sidebarOpen {
  right: 0; /* Exibe a sidebar */
}

.sidebarCloseButton {
  align-self: flex-end;
  font-size: 2rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.sidebarLinks {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os links */
  gap: 1rem;
}

.sidebarLinks li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
}

.sidebarLinks li a:hover {
  color: #008000; /* Verde claro ao passar o mouse */
}

/* Botões na parte inferior do menu */
.sidebarButtons {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.sidebarButtons .loginButton,
.sidebarButtons .signupButton {
  width: 100%;
  text-align: center;
}
